<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anh.trinh.ble_demo"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBar" >
        
       <activity 
            android:name="anh.trinh.ble_demo.DeviceScanActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
  
        <service 
            android:name=".BluetoothLeService"
            android:enabled="true" />
        
    </application>

</manifest>
